@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('font/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
    url('font/static/Raleway-Thin.ttf') format('truetype'),
    url('font/static/Raleway-ExtraLight.ttf') format('truetype'),
    url('font/static/Raleway-Light.ttf') format('truetype'),
    url('font/static/Raleway-Regular.ttf') format('truetype'),
    url('font/static/Raleway-Medium.ttf') format('truetype'),
    url('font/static/Raleway-SemiBold.ttf') format('truetype'),
    url('font/static/Raleway-Bold.ttf') format('truetype'),
    url('font/static/Raleway-ExtraBold.ttf') format('truetype'),
    url('font/static/Raleway-Black.ttf') format('truetype'),
    url('font/static/Raleway-ThinItalic.ttf') format('truetype'),
    url('font/static/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('font/static/Raleway-LightItalic.ttf') format('truetype'),
    url('font/static/Raleway-Italic.ttf') format('truetype'),
    url('font/static/Raleway-MediumItalic.ttf') format('truetype'),
    url('font/static/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-BoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-BlackItalic.ttf') format('truetype');
}

body {
    font-family: 'Raleway';
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: #0065FC;
    text-decoration: none;
}

.container {
    margin: 4%;
}

/* En tête */

header {
    display: flex;
    color: #0065FC;
}
  /* Titres */
 .titre {
    display: flex;
}

/* Barre de recherche */

.localisation {
display: flex;
}

.location {
background-color: #F2F2F2;
color: black;
}

#ville {
border: 2px solid #F2F2F2;
}

.rechercher {
background-color: #0065FC;
border: white;
}

#rechercher_bouton {
    color: white;
}

/* Filtres */

.filtres {
display: flex;
}

.categorie {
display: flex;
border: 2px solid #F2F2F2;
background-color: white;
border-radius: 50px;
}

.categorie_logo {
background:#DEEBFF;
border-radius: 50%;
color: #0065FC;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.info {
display: flex;
}

.icon {
color: #0065FC;
border: 2px solid #F2F2F2;
border-radius: 50%;
}

/* Hébregement à Marseille  */

.catalogue {
display: flex;
}

.heberg {
    border-radius: 20px;
}

.heberg-list {
border: 3px solid white;
background-color: white;
}

.heberg-list_titre {
font-size: 1em;
font-weight: bold;
}

.starblack {
color: #0065FC;
}

.starwhite {
background-color: #F2F2F2;
}

span {
font-weight: bold;
}

/* Les plus populaire */

.populaire {
display: flex;
background-color:  #F2F2F2;
border-radius: 20px;    
}

.populaire-list {
display: flex;
border: 3px solid white;
background-color: white;
border-radius: 50px;
}

.populaire-list_titre {
font-weight: bold;
}

/* Activités */

.activites {
display: flex;
}

.activites-list {
border: 3px solid white;
background-color: white;
}

.activites-list_titre {
font-weight: bold;
}

/* Pied de page */

footer {
display: flex;
background-color: #F2F2F2;
justify-content: space-between;
}

@media screen and (max-width: 601px) {

    body {
        font-size: 0.7rem;
    }

    /* En tête */

    header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .logo {
        width: 20%;
    }

    #heberg {
        width: 50%;
        order: 1;
        margin-top: 10%;
        border-bottom: 2px solid #0065FC;
    }
    #activ {
        width: 50%;
        order: 1;
        margin-top: 10%;
        border-bottom: 2px solid #F2F2F2;
    }
    #sinscr {
        order: 0;
        margin-left: 40%;
        padding-top: 2%;
    }

      /* Titres */

    .titre {
        flex-wrap: wrap;
    }

    h2 {
        font-weight: 500;
    }

    h5 {
        font-size: 2em;
        font-weight: 500;
    }

    h6 {
        font-size: 1.2em;
    }

    /* Barre de recherche */

.localisation {
    margin-top:0;
}
.location {
    width: 20%;
    height: 35px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}
#ville {
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
}
.rechercher {
    text-align: center;
    width: 25%;
    height: 35px;
    padding-top: 20px;
    border-radius: 0px 20px 20px 0px;
}

/* Filtres */

.filtres {
    flex-direction: column;
    flex-wrap: wrap;
}

.categorie {
    width: 40%;
    height: 25px;
    font-size: 1em;
    margin-bottom: 15px;
    margin-right: 500px;
    border: 2px solid #F2F2F2;
}

.categorie_logo {
    padding-top: 5px;
    padding-left: 5px;
    width: 10%;
    height: 25px;
}

.categorie_titre {
    margin: auto;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.icon {
    width: 5%;
    height: 15px;
    text-align: center;
    margin-right: 5px;
    padding-top: 5px;
}

.info {
    font-size: 0.8em;
}

/* Hébregement à -ville- et le plus populaires  */

.catalogue {
    flex-direction: column-reverse;
    margin-left: 0;
}

.heberg {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 2250px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 4%;
}

.sous-titre {
    font-weight: bold;
    margin-left: 4%;
}

.heberg-list {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 100px;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px 30px 30px 30px;
}

.heberg-list_img {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
}

.heberg-list_titre {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.heberg-list_description {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.starblack {
    font-size: 15px;
}

.starwhite {
    font-size: 15px;
}

/* Les plus populaire */

.populaire {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 105%;
    height: 1000px;
    margin-left: 0;
}

.populaire_titre {
    display: flex;
    width: 100%;
    height: 10px;
    justify-content: space-between;
    text-align: center;
}

.stonk {
    margin: 4%;
}

.populaire-list {
    margin-right: 2%;
    margin-left: 4%;
    height: 250px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
}

.populaire-list_img {
    width: 80%;
    height: 225px;
    margin: 2px;
    padding: 3%;
    border-radius: 35px 0px 0px 35px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
}

.populaire-list_titre {
    margin-bottom: 25px;
    font-weight: bold;
}

.populaire-list_description {
    margin-top: 2px;
    margin-bottom: 50px;
}

/* Activités */

.activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

h3 {
    font-size: 0.8em;
    margin-left: 10px;
    padding-bottom: 10px;
}

.activite-groupe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4%;
}

.activite-grand {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-grand-img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit1 {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit1-img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit2 {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit2-img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit3 {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit3-img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit4 {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit4-img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
/* Pied de page */

footer {
    flex-direction: column;
    width: 115%;
}

.apropos {
    margin: 4%;
    padding: 2%;
}

}

@media screen and (min-width: 601px) and (max-width: 980px) {

    body {
        font-size: 2.5em;
    }

    /* En tête */

    header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .logo {
        width: 35%;
    }

    #heberg {
        width: 50%;
        order: 1;
        margin-top: 75px;
        border-bottom: 4px solid #0065FC;
    }
    #activ {
        width: 50%;
        order: 1;
        margin-top: 75px;
        border-bottom: 4px solid #F2F2F2;
    }
    #sinscr {
        order: 0;
        margin-left: 30%;
        margin-top: 50px;
    }

      /* Titres */

    .titre {
        flex-wrap: wrap;
        font-size: 0.4em;
        margin-right: 200px;
        margin-top: 50px;
        margin-left: 4%;
    }

    h2 {
        font-weight: 500;
    }

    h5 {
        font-size: 2em;
        font-weight: 500;
    }

    /* Barre de recherche */

.localisation {
    margin-top:0;
}
.location {
    width: 150px;
    height: 75px;
    text-align: center;
    padding-top: 40px;
    border-radius: 20px 0px 0px 20px;
}
#ville {
    width: 100%;
    height: 110px;
    font-size: 1em;
}
.rechercher {
    text-align: center;
    padding-top: 35px;
    width: 400px;
    height: 80px;
    border-radius: 0px 20px 20px 0px;
}

/* Filtres */

.filtres {
    flex-direction: column;
    flex-wrap: wrap;
}

.categorie {
    width: 450px;
    height: 100px;
    font-size: 1em;
    margin-bottom: 15px;
    margin-right: 500px;
    border: 7px solid #F2F2F2;
}

.categorie_logo {
    padding-top: 25px;
    padding-left: 30px;
    width: 80px;
    height: 80px;
}

.categorie_titre {
    margin: auto;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.icon {
    width: 80px;
    height: 55px;
    text-align: center;
    margin-top: 30px;
    margin-right: 25px;
    padding-top: 5px;
}

.info {
    font-size: 0.8em;
}

/* Hébregement à -ville- et le plus populaires  */

.catalogue {
    flex-direction: column-reverse;
    margin-left: 0;
}

.heberg {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 4000px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 4%;
}

.sous-titre {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 100px;
    margin-left: 4%;
}

.heberg-list {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 100px;
    height: 525px;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px 30px 30px 30px;
}

.heberg-list_img {
    width: 100%;
    height: 325px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
}

.heberg-list_titre {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.heberg-list_description {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.starblack {
    font-size: 25px;
}

.starwhite {
    font-size: 25px;
}

/* Les plus populaire */

.populaire {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 105%;
    height: 1550px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 0;
}

.populaire_titre {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.stonk {
    margin: 4%;
}

.populaire-list {
    margin-right: 2%;
    margin-left: 4%;
    margin-bottom: 0px;
    height: 370px;
    width: 1000px;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
}

.populaire-list_img {
    width: 375px;
    height: 340px;
    margin: 2px;
    padding: 3%;
    border-radius: 35px 0px 0px 35px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
}

.populaire-list_titre {
    font-size: 0.9em;
    margin-bottom: 25px;
    font-weight: bold;
}

.populaire-list_description {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 50px;
}

/* Activités */

.activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

h3 {
    font-size: 0.8em;
    margin-left: 10px;
    padding-bottom: 10px;
}

.activite-groupe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4%;
}

.activite-grand {
    height: 425px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-grand-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit1 {
    height: 425px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit1-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit2 {
    height: 425px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit2-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit3 {
    height: 425px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit3-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit4 {
    height: 425px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
    border-radius: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite-petit4-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
/* Pied de page */

footer {
    flex-direction: column;
    width: 115%;
}

.apropos {
    margin: 4%;
    padding: 2%;
    font-size: 0.7em;
}

}

@media screen and (min-width: 981px) {
    body {
        font-size: 0.8em;
    }

    h2 {
        font-weight: normal;
    }

    h5 {
        font-weight: 500;
        font-size: 2em;
    }

    /* En tête */

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 55%;
        margin-top: 2%;
        order: 0;
    }
    #activ {
        order: 0;
        margin-left: 75px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 75px;
        margin-top: 2%;
    }

      /* Titres */

    .titre {
        flex-direction: column;
        font-size: 0.5em;
        margin-left: 4%;
        height: 125px;
    }


    /* Barre de recherche */

.localisation {
    margin-top:0;
}
.location {
    width: 50px;
    height: 28px;
    text-align: center;
    padding-top: 18px;
    border-radius: 15px 0px 0px 15px;
}
#ville {
    height: 40px;
    font-size: 1em;
}
.rechercher {

    font-size: 1.1em;
    text-align: center;
    width: 120px;
    height: 32px;
    padding-top: 13px;
    border-radius: 0px 15px 15px 0px;
}
/* Filtres */

.filtres_titre {
    margin-right: 25px;
}

.categorie {
    width: 165px;
    height: 35px;
    font-size: 1em;
    margin-bottom: 15px;
    margin-right: 10px;
}

.categorie_logo {
    padding-top: 10px;
    padding-left: 9px;
    width: 25px;
    height: 25px;
}

.categorie_titre {
    margin: auto;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.icon {
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: 8px;
    margin-right: 15px;
    padding-top: 5px;
}

/* Hébregement à Marseille */

.catalogue {
    flex-direction: row;
}

.heberg {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 25px;
    background-color: #F2F2F2;
    height: 550px;
    width: 2300px;
}

.sous-titre {
    font-size: 1em;
    font-weight: bold;
    height: 15px;
    margin-left: 25px;
    margin-top: 25px;
}

.heberg-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heberg-list {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 25%;
    height: 160px;
    border-radius: 20px 20px 20px 20px;
}

.heberg-list_img {
    width: 100%;
    height: 85px;
    margin: 2px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
    font-size: 0.8em;
}

.heberg-list_titre {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: bold;
}

.heberg-list_description {
    font-size: 1em;
    margin-top: 7px;
    margin-bottom: 5px;
}

.starblack {
    font-size: 10px;
}

.starwhite {
    font-size: 10px;
}

/* Les plus populaire */

.populaire {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 550px;
    width: 1000px;
    margin-right: 0px;
}

.populaire_titre {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stonk {
    margin-top: 25px;
    margin-right: 25px;
}

.populaire-list {
    width: 250px;
    height: 115px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 4%;
    margin-right: 4%;
}

.populaire-list_img {
    width: 100px;
    height: 110px;
    margin: 3px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.legende {
    margin-left: 4%;
}

.populaire-list_titre {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 0px;
    font-weight: bold;
}

.populaire-list_description {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 25px;
}

/* Activités */

.activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    font-size: 0.8em;
    margin-left: 10px;
    padding-bottom: 10px;
}

.activite-groupe {
    display: flex;
    justify-content: space-between;
}

.activite-petit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-grand {
    width: 100%;
    margin-right: 50px;
    font-size: 0.8em;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-grand-img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit1 {
    border-radius: 30px;
    width: 75%;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
}
.activite-petit1-img {
    width: 100%;
    height: 120px;
    margin-left: 0;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit2 {
    border-radius: 30px;
    width: 75%;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
}
.activite-petit2-img {
    width: 100%;
    height: 100px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit3 {
    border-radius: 30px;
    width: 75%;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
}
.activite-petit3-img {
    width: 100%;
    height: 110px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
.activite-petit4 {
    border-radius: 30px;
    width: 75%;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
}
.activite-petit4-img {
    width: 100%;
    height: 120px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

/* Pied de page */

footer {
    flex-direction: row;
    width: 103%;
    height: 250px;
}

.apropos {
    margin: 4%;
    width: 200px;
}

h6 {
    font-weight: bold;
    font-size: 1em;
}

}

