@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('font/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
    url('font/static/Raleway-Thin.ttf') format('truetype'),
    url('font/static/Raleway-ExtraLight.ttf') format('truetype'),
    url('font/static/Raleway-Light.ttf') format('truetype'),
    url('font/static/Raleway-Regular.ttf') format('truetype'),
    url('font/static/Raleway-Medium.ttf') format('truetype'),
    url('font/static/Raleway-SemiBold.ttf') format('truetype'),
    url('font/static/Raleway-Bold.ttf') format('truetype'),
    url('font/static/Raleway-ExtraBold.ttf') format('truetype'),
    url('font/static/Raleway-Black.ttf') format('truetype'),
    url('font/static/Raleway-ThinItalic.ttf') format('truetype'),
    url('font/static/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('font/static/Raleway-LightItalic.ttf') format('truetype'),
    url('font/static/Raleway-Italic.ttf') format('truetype'),
    url('font/static/Raleway-MediumItalic.ttf') format('truetype'),
    url('font/static/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-BoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('font/static/Raleway-BlackItalic.ttf') format('truetype');
}

body {
    font-family: 'Raleway';
}

a {
    color: #0065FC;
    text-decoration: none;
}

.container {
    margin: 4%;
}

/* En tête */

header {
    display: flex;
    color: #0065FC;
}
  /* Titres */

.titre {
    display: flex;
}

/* Barre de recherche */

.localisation {
display: flex;
}

.location {
background-color: #F2F2F2;
color: black;
}

#ville {
border: 2px solid #F2F2F2;
}

.rechercher {
background-color: #0065FC;
border: white;
}

#rechercher_bouton {
    color: white;
}

/* Filtres */

.filtres {
display: flex;
}

.categorie {
display: flex;
border: 2px solid #F2F2F2;
background-color: white;
border-radius: 50px;
}

.categorie_logo {
background:#DEEBFF;
border-radius: 50%;
color: #0065FC;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.info {
display: flex;
}

.icon {
color: #0065FC;
border: 2px solid #F2F2F2;
border-radius: 50%;
}

/* Hébregement à Marseille  */

.catalogue {
display: flex;
}

.heberg {
    border-radius: 20px;
}

.heberg-list {
border: 3px solid white;
background-color: white;
}

.heberg-list_titre {
font-size: 1em;
font-weight: bold;
}

.starblack {
color: #0065FC;
}

.starwhite {
background-color: #F2F2F2;
}

span {
font-weight: bold;
}

/* Les plus populaire */

.populaire {
display: flex;
background-color:  #F2F2F2;
border-radius: 20px;    
}

.populaire-list {
display: flex;
border: 3px solid white;
background-color: white;
border-radius: 50px;
}

.populaire-list_titre {
font-weight: bold;
}

/* Activités */

.activites {
display: flex;
}

.activites-list {
border: 3px solid white;
background-color: white;
}

.activites-list_titre {
font-weight: bold;
}

/* Pied de page */

footer {
display: flex;
background-color: #F2F2F2;
}

@media screen and (max-width: 980px) {

    body {
        font-size: 2.5em;
    }

    /* En tête */

    header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        width: 275px;
    }

    #heberg {
        order: 1;
        margin-top: 75px;
    }
    #activ {
        order: 1;
        margin-top: 75px;
    }
    #sinscr {
        order: 0;
        margin-left: 400px;
        margin-top: 50px;
    }

      /* Titres */

    .titre {
        flex-wrap: wrap;
        font-size: 0.5em;
        margin-right: 200px;
        margin-top: 50px;
    }

    h2 {
        font-weight: 500;
    }

    /* Barre de recherche */

.localisation {
    margin-top:0;
}
.location {
    width: 150px;
    height: 75px;
    text-align: center;
    padding-top: 40px;
}
#ville {
    width: 100%;
    height: 110px;
    font-size: 1em;
}
.rechercher {
    text-align: center;
    padding-top: 35px;
    width: 150px;
    height: 80px;
}

/* Filtres */

.filtres {
    flex-direction: column;
    flex-wrap: wrap;
}

.categorie {
    width: 450px;
    height: 100px;
    font-size: 1em;
    margin-bottom: 15px;
    margin-right: 500px;
}

.categorie_logo {
    padding-top: 25px;
    padding-left: 20px;
    width: 80px;
    height: 80px;
}

.categorie_titre {
    margin: auto;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.icon {
    width: 80px;
    height: 55px;
    text-align: center;
    margin-top: 30px;
    margin-right: 25px;
    padding-top: 5px;
}

/* Hébregement à -ville- et le plus populaires  */

.catalogue {
    flex-direction: column-reverse;
}

.heberg {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 3000px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.sous-titre {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 100px;
}

.heberg-list {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 300px;
    height: 225px;
}

.heberg-list_img {
    width: 800px;
    height: 300px;
    margin: 2px;
}

.legende {
    margin-left: 4%;
}

.heberg-list_titre {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.heberg-list_description {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.starblack {
    font-size: 25px;
}

.starwhite {
    font-size: 25px;
}

/* Les plus populaire */

.populaire {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1550px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.populaire-list {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0px;
    height: 400px;
    width: 1000px;
}

.populaire-list_img {
    width: 400px;
    height: 400px;
    margin: 2px;
}

.legende {
    margin-left: 4%;
}

.populaire-list_titre {
    font-size: 1em;
    margin-top: 100px;
    margin-bottom: 25px;
    font-weight: bold;
}

.populaire-list_description {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 50px;
}

/* Activités */

.activites {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 3000px;
    margin-top: 500px;
    margin-bottom: 600px;
}

.activites-list {
    margin-right: 4%;
    margin-left: 4%;
    height: 550px;
}

.activites-list_img {
    width: 800px;
    height: 350px;
    margin: 2px;
}

.legende {
    margin-left: 4%;
}

.activites-list_titre {
    font-size: 1em;
    margin-top: 75px;
    margin-left: 25px;
}

/* Pied de page */

footer {
    flex-direction: column;
    font-size: 0.6em;
    width: 110%;
}

.apropos {
    margin: 4%;
    padding: 2%;
}

}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1em;
    }

    h2 {
        margin: 4%;
    }

    h5 {
        font-weight: 500;
        font-size: 2em;
    }

    /* En tête */

    header {
        width: 1000px;
    }

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 500px;
        order: 0;
        margin-top: 2%;
    }
    #activ {
        order: 0;
        margin-left: 75px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 75px;
        margin-top: 2%;
    }

      /* Titres */

    .titre {
        flex-direction: column;
        font-size: 0.5em;
        margin-right: 200px;
        margin-top: 50px;
    }

    h2 {
        font-weight: normal;
    }

    /* Barre de recherche */

.localisation {
    margin-top:0;
}
.location {
    width: 50px;
    height: 35px;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px 0px 0px 15px;
}
#ville {
    height: 50px;
    font-size: 1em;
}
.rechercher {
    text-align: center;
    width: 120px;
    height: 38px;
    padding-top: 17px;
    border-radius: 0px 15px 15px 0px;
}
/* Filtres */

.filtres_titre {
    margin-right: 25px;
}

.categorie {
    width: 200px;
    height: 50px;
    font-size: 1em;
    margin-bottom: 15px;
    margin-right: 10px;
}

.categorie_logo {
    padding-top: 15px;
    padding-left: 10px;
    width: 35px;
    height: 35px;
}

.categorie_titre {
    margin: auto;
}

/* Plus de 500 logements sont disponibles dans cette ville */

.icon {
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: 8px;
    margin-right: 15px;
    padding-top: 5px;
}

/* Hébregement à Marseille */

.catalogue {
    flex-direction: row;
}

#hergements {

}

.heberg {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 25px;
    background-color: #F2F2F2;
    height: 600px;
    width: 2300px;
}

.sous-titre {
    font-size: 1em;
    font-weight: bold;
    height: 15px;
}

.heberg-order {
    display: flex;
    flex-wrap: wrap;
}

.heberg-list {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 25px;
    height: 160px;
    border-radius: 20px 20px 20px 20px;
}

.heberg-list_img {
    width: 170px;
    height: 85px;
    margin: 2px;
    border-radius: 20px 20px 0px 0px;
}

.legende {
    margin-left: 4%;
    font-size: 0.8em;
}

.heberg-list_titre {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: bold;
}

.heberg-list_description {
    font-size: 1em;
    margin-top: 7px;
    margin-bottom: 5px;
}

.starblack {
    font-size: 10px;
}

.starwhite {
    font-size: 10px;
}

/* Les plus populaire */

.populaire {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 600px;
    width: 1000px;
    margin-right: 0px;
}

#pop {
    padding-top: 15px;
    padding-left: 4%;
}

.populaire-list {
    height: 115px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 4%;
    margin-right: 4%;
}

.populaire-list_img {
    width: 100px;
    height: 110px;
    margin: 3px;
    border-radius: 10px 0px 0px 10px;
}

.legende {
    margin-left: 4%;
}

.populaire-list_titre {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 0px;
    font-weight: bold;
}

.populaire-list_description {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 25px;
}

/* Activités */

.activites {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4%;
}

.activites_order {
    display: flex;
}

.activites-list {
    margin-right: 4%;
    margin-left: 4%;
}

#actv1 {
    width: 100px;
    height: 100px;
}
#actv2 {
    width: 100px;
    height: 100px;
}
#actv3 {
    width: 100px;
    height: 100px;
}
#actv4 {
    width: 100px;
    height: 100px;
}
#actv5 {
    width: 100px;
    height: 100px;
}
#actv6 {
    width: 100px;
    height: 100px;
}

.legende {
    margin-left: 4%;
}

.activites-list_titre {
    font-size: 1em;
    margin-top: 25px;
    margin-left: 25px;
}

/* Pied de page */

footer {
    flex-direction: row;
    font-size: 1em;
    width: 110%;
}

.apropos {
    margin: 4%;
    padding: 2%;
}

}

@media screen and (min-width: 1200px) {
    body {
        font-size: 0.8em;
    }

    header {
        flex-wrap: nowrap;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: #0065FC;
    }

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 700px;
        order: 0;
        margin-top: 2%;
    }
    #activ {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }

}

@media screen and (min-width: 1440px) {
    body {
        font-size: 0.8em;
    }

    header {
        flex-wrap: nowrap;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: #0065FC;
    }

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 1000px;
        order: 0;
        margin-top: 2%;
    }
    #activ {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }

}

@media screen and (min-width: 1800px) {
    body {
        font-size: 1em;
    }

    header {
        flex-wrap: nowrap;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: #0065FC;
    }

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 1300px;
        order: 0;
        margin-top: 2%;
    }
    #activ {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }

}

@media screen and (min-width: 2560px) {
    body {
        font-size: 1.5em;
    }

    header {
        flex-wrap: nowrap;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: #0065FC;
    }

    .logo {
        width: 100px;
    }

    #heberg {
        margin-left: 1500px;
        order: 0;
        margin-top: 2%;
    }
    #activ {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }
    #sinscr {
        order: 0;
        margin-left: 25px;
        margin-top: 2%;
    }

}